In [2]:
import pandas as pd
import Project.student_data_gen as sc
import transform as tc
import Project.project_test.filteropt as op

def main():
    studentdf = sc.student_gen()
    outdf = tc.transform(studentdf)
    datadf = op.filter_data(outdf)
    return outdf

In [1]:
main()

0    72.999247
1    83.777467
2    80.011258
3    74.286005
4    89.526654
5    71.692347
6    91.659963
7    98.156581
8    70.023363
9    99.766347
Name: Grade, dtype: float64

   StudentID      Name  Age      Grade        Department       GPA Age_Category
5          6  Student6   22  71.692347  Computer Science  3.584617  Middle-aged